PORT=8080
LOGIN_SERVICE_URL=https://backend-b-wxdw.onrender.com
STARTER_SERVICE_URL=https://backend-a-tvul.onrender.com
OAUTH_SERVICE_URL=https://oauth-service-fyrc.onrender.com
CORS_ALLOWED_ORIGINS=https://task-manager-1-5jlg.onrender.com
